In [1]:
from func_search import *
from func_def_class import *
from func_taux_transm import *
from func_res import *


import os
from path import Path
import csv
#import matplotlib.pyplot as plt 
import ConfigParser
from struct import unpack
import re

In [2]:
import matplotlib.pyplot as plt
from pandas import *
import pandas as pd
import ast

In [15]:
line = """
2017-03-30 16:07:22,035 [ParserPrintf:INFO] (asn=5115) from b376:SIXTOP:LinkReq rcvd - 
LinkRep prepared: from a772, bw=1, track=3, owner=a772, via track=0, owner=0000, queuePos=1, 
slot 35, ch 15, code 6
"""

asn = line[line.find("asn")+len("asn="):line.find(")", line.find("asn"))]
src = line[line.find("from")+len("from "):line.find(":", line.find("from"))]
dest = line[line.find("to ")+len("to "):line.find(",", line.find("to "))]
src2 = line[line.find("from",line.find("from")+1)+len("from "):line.find(",", line.find("from",line.find("from")+1))]


print src

b376

In [3]:
df_res = pd.read_csv(r'data_csv/res.csv', dtype=str)
df_res

,asn,succes,numAttempts,simult_req,simult_rep,queuePos,slot,ch,src,dest,owner,state,info
0,"[1221, 1339, 1562]",1,1,"[3, 1]",[1],"[0, 2, 2]",141,9,8772,b868,b868,4,NaN
1,"[1221, 1299, 1583]",1,1,"[3, 1]",[1],"[0, 1, 1]",93,11,b381,b868,b868,4,NaN
2,"[1221, 2407]",0,1,"[1, 2, 3, 1]",NaN,"[0, 0]",-1,-1,1162,b868,b868,-1,NaN
3,"[1627, 1664, 1705]",1,1,[1],[1],"[0, 1, 1]",21,7,c280,8772,b868,4,NaN
4,"[1830, 1867, 2233]",1,1,[3],[3],"[0, 1, 1]",45,4,c280,8772,b868,4,NaN
5,"[2236, 2577, 2780]",1,1,[1],[1],"[1, 1, 1]",181,12,8772,b868,8772,4,NaN
6,"[2439, 4116]",0,2,"[1, 1, 1]",NaN,"[0, 0]",-1,-1,1162,b868,b868,-1,NaN
7,"[2845, 5002]",0,1,"[1, 1]",NaN,"[1, 1]",-1,-1,8772,b868,8772,-1,NaN
8,"[3048, 3138, 3341]",1,1,[1],[1],"[1, 1, 1]",13,7,b381,b868,b381,4,NaN
9,"[3251, 3938, 4141]",1,1,"[1, 1, 1, 1]",[1],"[0, 2, 2]",101,14,c280,b868,b868,4,NaN
10,[4266],0,1,NaN,NaN,[0],-1,-1,c280,b868,c280,-3,NaN
11,"[4266, 5115, 5399]",1,1,"[1, 2, 1]",[1],"[3, 2, 2]",58,3,1162,b868,b868,4,NaN
12,"[5078, 6231, 8464]",1,2,[1],[1],"[7, 1, 1]",166,9,8772,b868,8772,4,NaN
13,"[5484, 5539, 5742]",1,1,[1],[1],"[4, 1, 1]",107,2,1162,b868,1162,4,NaN
14,"[5890, 6130, 6171]",1,1,"[3, 1]",[1],"[4, 1, 1]",95,11,1162,b381,b868,4,NaN
15,"[6296, 8096]",0,1,[],NaN,"[0, 0]",-1,-1,c280,8772,c280,-1,NaN
16,"[6296, 6388, 6794]",1,1,[1],"[1, 2]","[5, 2, 2]",76,6,1162,b381,1162,4,NaN
17,[6905],0,1,NaN,NaN,[5],-1,-1,1162,b381,1162,-3,NaN
18,"[8123, 8368, 8977]",1,2,[1],[1],"[7, 8, 8]",144,13,c280,8772,c280,4,NaN
19,"[8529, 9276, 9479]",1,1,[1],[1],"[7, 2, 2]",174,13,8772,b868,8772,4,NaN
20,"[9138, 9180, 9789]",1,1,[1],[1],"[3, 11, 11]",153,1,c280,8772,c280,4,NaN
21,"[9341, 9586, 10577]",0,1,[1],[2],"[3, 10, 10]",73,2,c280,8772,c280,-2,NaN
22,"[9544, 9682, 9885]",1,1,[1],[1],"[7, 1, 1]",58,1,8772,b868,8772,4,NaN
23,"[9950, 12098]",0,1,"[2, 1]",NaN,"[5, 5]",-1,-1,1162,8772,b868,-1,NaN
24,"[9950, 11194]",0,2,[2],NaN,"[3, 3]",-1,-1,c280,8772,c280,-1,NaN
25,"[9950, 10088, 10291]",1,1,[1],[1],"[6, 1, 1]",184,15,8772,b868,8772,4,NaN
26,"[10356, 11103, 11306]",1,1,[1],[1],"[2, 1, 1]",170,0,8772,b868,c280,4,NaN
27,"[11371, 11509, 12118]",1,1,[1],[2],"[0, 1, 1]",105,0,8772,b868,c280,4,NaN
28,"[12589, 12657]",0,1,[],NaN,"[5, 5]",-1,-1,1162,8772,b868,-1,NaN
29,"[12792, 13195, 13398]",1,2,"[2, 2, 1, 1]",[1],"[5, 1, 1]",138,2,1162,8772,b868,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,"[242588, 243943]",0,1,"[1, 1]",NaN,"[1, 1]",-1,-1,c280,b868,c280,-1,NaN
68,"[244009, 246137, 246340]",1,2,[1],[1],"[3, 3, 3]",197,12,c280,b868,c280,4,NaN
69,"[246242, 246545]",0,1,[],NaN,"[1, 1]",-1,-1,c280,b868,c280,-1,NaN
70,"[246445, 248246]",0,2,"[1, 1]",NaN,"[2, 1]",-1,-1,c280,b868,c280,-1,NaN
71,"[246648, 250089]",0,3,"[1, 1]",NaN,"[1, 1]",-1,-1,c280,b868,c280,-1,NaN
72,"[248272, 252035]",0,4,"[1, 1, 2, 1]",NaN,"[1, 1]",-1,-1,c280,b868,c280,-1,NaN
73,"[250099, 254052]",0,5,"[1, 1, 1, 1]",NaN,"[1, 1]",-1,-1,c280,b868,c280,-1,NaN
74,"[252129, 254054, 255475]",1,6,"[1, 1]","[2, 1, 1]","[1, 1, 1]",85,6,c280,b868,c280,4,NaN
75,"[254159, 256852]",0,1,"[2, 1, 1]",NaN,"[1, 1]",-1,-1,c280,b868,c280,-1,NaN
76,[255580],0,2,NaN,NaN,[11],-1,-1,c280,b868,c280,-3,NaN
77,[257001],0,3,NaN,NaN,[10],-1,-1,c280,b868,c280,-3,NaN
78,"[258625, 260088]",0,1,[1],NaN,"[10, 11]",-1,-1,c280,8772,c280,-1,NaN
79,"[260249, 260697, 261306]",1,2,[1],"[1, 2]","[11, 1, 1]",48,5,c280,8772,c280,4,NaN
80,"[261467, 261712, 264148]",1,1,[1],[1],"[2, 1, 6]",79,6,c280,8772,c280,4,NaN
81,"[263294, 263336, 264149]",0,1,[1],[1],"[1, 6, 1]",123,13,c280,8772,c280,-2,NaN
82,"[264309, 264351, 264757]",0,2,[1],"[2, 2]","[1, 1, 1]",31,4,c280,8772,c280,-2,NaN
83,"[367230, 367328, 369765]",0,4,[1],[1],"[1, 1, 1]",199,14,c280,b868,c280,-2,NaN
84,"[369463, 369505, 369708]",1,3,[1],[1],"[2, 1, 1]",26,11,c280,8772,c280,4,NaN
85,"[369869, 369911, 370520]",1,1,[1],[1],"[2, 1, 1]",124,7,c280,8772,c280,4,NaN
86,"[382455, 384224]",0,1,[2],NaN,"[1, 1]",-1,-1,c280,b868,c280,-1,NaN
87,"[385297, 385801, 388238]",0,2,"[1, 1]",[1],"[1, 1, 1]",18,14,c280,b868,c280,-2,NaN
88,"[387327, 389204]",0,3,"[1, 1]",NaN,"[8, 1]",-1,-1,c280,b868,c280,-1,NaN
89,"[389357, 391282, 393719]",0,4,"[1, 1]",[1],"[10, 2, 2]",21,11,c280,b868,c280,-2,NaN
90,"[392605, 392702, 394328]",0,5,[1],[1],"[2, 4, 1]",13,3,c280,b868,c280,-2,NaN
91,"[392816, 394846]",0,1,"[1, 1]",NaN,"[3, 3]",-1,-1,b868,c280,8772,-1,NaN
92,"[394838, 394880, 395083]",1,1,[1],[1],"[9, 1, 1]",70,13,c280,8772,c280,4,NaN
93,"[395049, 396662]",0,2,[1],NaN,"[1, 1]",-1,-1,b868,c280,8772,-1,NaN
94,"[395244, 395286, 395692]",1,1,[1],[1],"[8, 2, 2]",86,0,c280,8772,c280,4,NaN
95,"[395853, 395895, 396098]",1,1,[1],[1],"[8, 1, 1]",173,4,c280,8772,c280,4,NaN
96,"[396259, 396504, 396910]",1,1,[1],[1],"[6, 2, 2]",93,8,c280,8772,c280,4,NaN

In [4]:
df_tx = pd.read_csv(r'data_csv/pkt_tx.csv', dtype=str)
df_tx["asn"] = df_tx["asn"].astype(int)
df_tx["numTxAttempts"] = df_tx["numTxAttempts"].astype(int)
df_tx

,time,addr,comp,asn,statType,trackinstance,trackowner,length,frameType,slotOffset,frequency,l2Dest,txpower,numTxAttempts,queuePos,succes_rx,succes_ack,list_rx
0,"2017-04-07 09:30:58,882",b868,22,730,3,0,0000000000000000,47,IEEE154_TYPE_DATA,121,16,ffffffffffffffff,31,1,0,0,0,[]
1,"2017-04-07 09:31:07,538",b868,12,1015,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,0,16,ffffffffffffffff,31,1,0,1,0,"['8772', 'b381', '1162', 'c280']"
2,"2017-04-07 09:31:09,884",b868,22,1096,3,0,0000000000000000,47,IEEE154_TYPE_DATA,81,16,ffffffffffffffff,31,1,0,1,0,"['b381', '1162', '8772']"
3,"2017-04-07 09:31:14,754",8772,15,1258,3,0,0000000000000000,61,IEEE154_TYPE_DATA,40,16,054332ff03dab868,31,1,0,0,0,[]
4,"2017-04-07 09:31:14,754",b381,15,1258,3,0,0000000000000000,61,IEEE154_TYPE_DATA,40,16,054332ff03dab868,31,1,0,0,0,[]
5,"2017-04-07 09:31:14,755",1162,12,1258,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,40,16,ffff000000000000,31,1,1,0,0,[]
6,"2017-04-07 09:31:15,477",1162,15,1282,3,0,0000000000000000,61,IEEE154_TYPE_DATA,81,16,054332ff03dab868,31,1,0,0,0,[]
7,"2017-04-07 09:31:15,990",b381,15,1299,3,0,0000000000000000,61,IEEE154_TYPE_DATA,81,16,054332ff03dab868,31,2,0,1,1,['b868']
8,"2017-04-07 09:31:17,191",8772,15,1339,3,0,0000000000000000,61,IEEE154_TYPE_DATA,121,16,054332ff03dab868,31,2,0,1,1,['b868']
9,"2017-04-07 09:31:18,453",b381,22,1380,3,0,0000000000000000,47,IEEE154_TYPE_DATA,162,16,ffffffffffffffff,31,1,0,1,0,['1162']
10,"2017-04-07 09:31:18,782",1162,22,1392,3,0,0000000000000000,47,IEEE154_TYPE_DATA,0,16,ffffffffffffffff,31,1,1,0,0,[]
11,"2017-04-07 09:31:20,800",8772,12,1459,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,40,16,ffff32ff03dab868,31,1,1,0,0,[]
12,"2017-04-07 09:31:20,856",1162,15,1461,3,0,0000000000000000,61,IEEE154_TYPE_DATA,40,16,054332ff03dab868,31,2,0,0,0,[]
13,"2017-04-07 09:31:20,858",b381,12,1461,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,40,16,ffffffffffffffff,31,1,0,0,0,[]
14,"2017-04-07 09:31:22,090",8772,22,1502,3,0,0000000000000000,47,IEEE154_TYPE_DATA,81,16,ffffffffffffffff,31,1,0,1,0,"['b381', 'c280']"
15,"2017-04-07 09:31:23,292",b868,15,1542,3,0,0000000000000000,52,IEEE154_TYPE_DATA,121,16,054332ff03d9b381,31,1,1,0,0,[]
16,"2017-04-07 09:31:23,891",b868,15,1562,3,4,054332ff03dab868,52,IEEE154_TYPE_DATA,141,16,054332ff03da8772,31,1,2,1,1,['8772']
17,"2017-04-07 09:31:24,525",b868,15,1583,3,0,0000000000000000,52,IEEE154_TYPE_DATA,162,16,054332ff03d9b381,31,2,1,1,1,['b381']
18,"2017-04-07 09:31:25,846",b868,22,1624,3,0,0000000000000000,47,IEEE154_TYPE_DATA,0,16,ffffffffffffffff,31,1,0,0,0,[]
19,"2017-04-07 09:31:26,959",c280,15,1664,3,0,0000000000000000,61,IEEE154_TYPE_DATA,40,16,054332ff03da8772,31,1,0,1,1,['8772']
20,"2017-04-07 09:31:28,191",8772,15,1705,3,0,0000000000000000,52,IEEE154_TYPE_DATA,81,16,054332ff03d8c280,31,1,1,1,1,['c280']
21,"2017-04-07 09:31:28,197",b381,22,1705,3,0,0000000000000000,47,IEEE154_TYPE_DATA,81,16,ffffffffffffffff,31,1,0,0,0,[]
22,"2017-04-07 09:31:28,430",1162,22,1713,3,0,0000000000000000,47,IEEE154_TYPE_DATA,121,16,ffffffffffffffff,31,1,1,0,0,[]
23,"2017-04-07 09:31:29,397",c280,22,1745,3,0,0000000000000000,47,IEEE154_TYPE_DATA,121,16,ffffffffffffffff,31,1,0,1,0,"['b868', '8772']"
24,"2017-04-07 09:31:31,950",8772,22,1827,3,0,0000000000000000,47,IEEE154_TYPE_DATA,0,16,ffffffffffffffff,31,1,0,1,0,"['c280', 'b381', 'b868']"
25,"2017-04-07 09:31:33,059",1162,15,1867,3,0,0000000000000000,61,IEEE154_TYPE_DATA,40,16,054332ff03dab868,31,3,0,0,0,[]
26,"2017-04-07 09:31:33,060",b868,22,1867,3,0,0000000000000000,47,IEEE154_TYPE_DATA,40,16,ffffffffffffffff,31,1,0,0,0,[]
27,"2017-04-07 09:31:33,061",c280,15,1867,3,0,0000000000000000,61,IEEE154_TYPE_DATA,40,16,054332ff03da8772,31,1,0,1,1,['8772']
28,"2017-04-07 09:31:36,730",b381,22,1989,3,0,0000000000000000,47,IEEE154_TYPE_DATA,162,16,ffffffffffffffff,31,1,0,1,0,"['1162', 'b868']"
29,"2017-04-07 09:31:39,172",b868,12,2070,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,40,16,ffff32ff03d9b381,31,1,0,1,0,"['b381', '1162']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11503,"2017-04-07 12:49:35,242",8772,18,397173,3,3,054332ff03d8c280,110,IEEE154_TYPE_DATA,105,16,054332ff03dab868,31,1,0,1,1,['b868']
11504,"2017-04-07 12:49:36,956",c280,22,397230,3,0,0000000000000000,47,IEEE154_TYPE_DATA,162,16,ffffffffffffffff,31,1,0,1,0,"['8772', 'b868']"
11505,"2017-04-07 12:49:41,824",b381,22,397392,3,0,0000000000000000,47,IEEE154_TYPE_DATA,121,16,ffffffffffffffff,31,1,0,1,0,"['8772', '1162', 'b868']"
11506,"2017-04-07 12:49:42,429",8772,22,397412,3,4,054332ff03dab868,111,IEEE154_TYPE_DATA,141,16,054332ff03dab868,31,1,0,1,1,['b868']
11507,"2017-04-07 12:49:43,421",8772,27,397445,3,3,054332ff03da8772,110,IEEE154_TYPE_DATA,174,16,054332ff03dab868,31,1,1,1,1,['b868']
11508,"2017-04-07 12:49:44,386",b381,12,397474,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,0,16,ffff32ff03dab868,31,1,1,0,0,[]
11509,"2017-04-07 12:49:44,389",1162,12,397474,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,0,16,ffff32ff03d9b381,31,1,0,0,0,[]
11510,"2017-04-07 12:49:44,413",8772,22,397474,3,0,0000000000000000,47,IEEE154_TYPE_DATA,0,16,ffffffffffffffff,31,1,0,1,0,['c280']
11511,"2017-04-07 12:49:44,684",b381,27,397487,3,3,054332ff03d9b381,109,IEEE154_TYPE_DATA,13,16,054332ff03dab868,31,1,0,1,1,['b868']
11512,"2017-04-07 12:49:45,493",1162,22,397514,3,0,0000000000000000,47,IEEE154_TYPE_DATA,40,16,ffffffffffffffff,31,1,0,1,0,"['b868', '8772', 'b381']"
11513,"2017-04-07 12:49:46,724",c280,22,397555,3,0,0000000000000000,47,IEEE154_TYPE_DATA,81,16,ffffffffffffffff,31,1,0,1,0,"['8772', 'b868']"
11514,"2017-04-07 12:49:50,481",b868,12,397677,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,0,16,ffff32ff03d9b381,31,1,1,1,0,"['b381', '1162', '8772']"
11515,"2017-04-07 12:49:51,592",c280,12,397717,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,40,16,ffffffffffffffff,31,1,0,0,0,[]
11516,"2017-04-07 12:49:51,593",b381,22,397717,3,0,0000000000000000,47,IEEE154_TYPE_DATA,40,16,ffffffffffffffff,31,1,0,0,0,[]
11517,"2017-04-07 12:49:51,595",b868,0,397717,3,0,0000000000000000,0,IEEE154_TYPE_UNDEFINED,40,16,ffffffffffffffff,31,1,0,0,0,[]
11518,"2017-04-07 12:49:52,255",1162,27,397739,3,3,054332ff02dc1162,110,IEEE154_TYPE_DATA,62,16,054332ff03da8772,31,1,0,1,1,['8772']
11519,"2017-04-07 12:49:52,825",8772,12,397758,3,0,0000000000000000,67,IEEE154_TYPE_BEACON,81,16,ffff32ff03dab868,31,1,0,1,0,"['c280', '1162', 'b381', 'b868']"
11520,"2017-04-07 12:49:53,188",c280,27,397770,3,3,054332ff03d8c280,110,IEEE154_TYPE_DATA,93,16,054332ff03da8772,31,1,0,1,1,['8772']
11521,"2017-04-07 12:49:53,550",8772,18,397782,3,3,054332ff03d8c280,110,IEEE154_TYPE_DATA,105,16,054332ff03dab868,31,1,0,1,1,['b868']
11522,"2017-04-07 12:49:54,028",1162,22,397798,3,0,0000000000000000,47,IEEE154_TYPE_DATA,121,16,ffffffffffffffff,31,1,0,1,0,"['8772', 'b381', 'b868']"
11523,"2017-04-07 12:49:55,266",8772,22,397839,3,0,0000000000000000,47,IEEE154_TYPE_DATA,162,16,ffffffffffffffff,31,1,0,1,0,"['1162', 'b381', 'c280', 'b868']"
11524,"2017-04-07 12:49:56,826",8772,18,397891,3,3,054332ff02dc1162,110,IEEE154_TYPE_DATA,11,16,054332ff03dab868,31,1,1,1,1,['b868']
11525,"2017-04-07 12:49:58,929",c280,22,397961,3,0,0000000000000000,47,IEEE154_TYPE_DATA,81,16,ffffffffffffffff,31,1,0,1,0,"['8772', 'b868']"
11526,"2017-04-07 12:50:00,131",b381,22,398001,3,0,0000000000000000,47,IEEE154_TYPE_DATA,121,16,ffffffffffffffff,31,1,0,1,0,"['8772', '1162', 'b868']"
11527,"2017-04-07 12:50:02,691",1162,22,398083,3,0,0000000000000000,47,IEEE154_TYPE_DATA,0,16,ffffffffffffffff,31,1,0,1,0,"['b868', 'b381', '8772']"
11528,"2017-04-07 12:50:03,948",c280,22,398128,3,4,054332ff03dab868,91,IEEE154_TYPE_DATA,45,16,054332ff03da8772,31,1,0,1,1,['8772']
11529,"2017-04-07 12:50:05,031",8772,22,398164,3,0,0000000000000000,47,IEEE154_TYPE_DATA,81,16,ffffffffffffffff,31,1,1,1,0,"['b381', '1162', 'c280', 'b868']"
11530,"2017-04-07 12:50:06,743",1162,22,398221,3,4,054332ff03dab868,91,IEEE154_TYPE_DATA,138,16,054332ff03da8772,31,1,0,1,1,['8772']
11531,"2017-04-07 12:50:06,835",8772,18,398224,3,4,054332ff03dab868,91,IEEE154_TYPE_DATA,141,16,054332ff03dab868,31,1,1,1,1,['b868']
11532,"2017-04-07 12:50:07,466",c280,22,398245,3,0,0000000000000000,47,IEEE154_TYPE_DATA,162,16,ffffffffffffffff,31,1,0,1,0,"['b868', '8772']"

In [14]:
# pour transformer un str en liste
#ast.literal_eval(df_res.loc[i]["asn"])

In [78]:
# fonction pour compter le nobre de colision / pkt perdu

#la somme des 4 count = le nb de paquets total envoyé
# les succes ne prennent que la derniere tentative d'une réussite (ce sont les pkt qui ont été trsmit)
count_miss_failed=[]
#miss succes sont les pqt qui ont été transmit sans colisions et qui ont été recu
count_miss_succ=[]
count_col_failed=[]
count_col_succ=[]
i=0
len_list=0
fail = []
succ=[]


for i in range(len(df_res)):
    if notnull(df_res.loc[i]["simult_req"]):
        if (df_res.loc[i]["state"] == "4") :
            fail.extend(ast.literal_eval(df_res.loc[i]["simult_req"])[:-1])
            succ.append(ast.literal_eval(df_res.loc[i]["simult_req"])[-1])
            fail.extend(ast.literal_eval(df_res.loc[i]["simult_rep"])[:-1])
            succ.append(ast.literal_eval(df_res.loc[i]["simult_rep"])[-1])
        elif (df_res.loc[i]["state"] == "-2"):
            fail.extend(ast.literal_eval(df_res.loc[i]["simult_req"])[:-1])
            succ.append(ast.literal_eval(df_res.loc[i]["simult_req"])[-1])
            fail.extend(ast.literal_eval(df_res.loc[i]["simult_rep"]))
        elif df_res.loc[i]["state"] == "-1":
            fail.extend(ast.literal_eval(df_res.loc[i]["simult_req"]))
    
    
for el in succ:
    if el>1:
        count_col_succ.append(el)
    else:
        count_miss_succ.append(el)
for el in fail:
    if el>1:
        count_col_failed.append(el)
    else:
        count_miss_failed.append(el)
      
print len(succ) + len(fail)
print len(count_col_succ)

213
8

In [55]:
tes = [1,2,3,4,5]
test=[]
test.extend(tes[:-1])
print test

[1, 2, 3, 4]

In [47]:
i=15

len_list = len(ast.literal_eval(df_res.loc[i]["simult_req"]))

for el in range(len_list-1):
    print ast.literal_eval(df_res.loc[i]["simult_req"])[el]

True