In [1]:
from func_search import *
from func_def_class import *
from func_taux_transm import *
from func_res import *

import matplotlib.pyplot as plt

import random
from random import shuffle
import numpy as np
import json
import os
import sys

from sklearn.model_selection import train_test_split

In [2]:
#utilisées
from ghmm import *
import ghmm
from hmmlearn import hmm

In [4]:
#pas utilisées
from myhmm import MyHmm
from myhmm_scaled import MyHmmScaled
import nltk 
from nltk.corpus import treebank
from hmmlearn import hmm

KeyboardInterrupt:

# Données utilisées

In [20]:
#reservations | EXP 
df_res = pd.read_csv(r'data_csv/res_sim.csv', dtype=str)
df_res["numAttempts"] = df_res["numAttempts"].astype(int)
df_res["nb_sibl"] = df_res["nb_sibl"].astype(int)
df_res["succes"] = df_res["succes"].astype(int)
df_res["state"] = df_res["state"].astype(int)
df_res["asn creation"] = df_res["asn creation"].astype(int)
df_res["asn_req"] = df_res["asn_req"].astype(float)
df_res = df_res.fillna('')
df_res.sort_values(['asn creation', 'asn_req'], ascending=[True, True], inplace=True)
df_res = df_res.reset_index(drop=True)
df_res

IOError: File data_csv/res_sim.csv does not exist

In [4]:
#paquets reservations | SIM

#MAUVAISE CONNECTION
df_res_b = pd.read_csv(r'data_csv/sim_4_pkt_res.csv', dtype=str)
df_res_b["asn"] = df_res_b["asn"].astype(int)
#df_res["id_res"] = df_res["id_res"].astype(int)
#df_res["succes"] = df_res["succes"].astype(int)
df_res_b["state"] = df_res_b["state"].astype(int)
df_res_b = df_res_b.fillna('')
#df_res.sort_values(['asn', 'command', 'status'], ascending=[True, False, False], inplace=True)
df_res_b = df_res_b.reset_index(drop=True)
df_res_b

,time,asn,src_res,dest_res,src_pkt,dest_pkt,command,status,ch1,slot1,ch2,slot2,ch3,slot3,id_res,succes,numAtt,state
0,"2017-08-23 16:37:07,019",4543,000c,0001,000c,0001,CELLADD_REQ,ENQUEUED,7,4,,,,,1,1,0,1
1,"2017-08-23 16:37:07,031",4543,000a,0001,000a,0001,CELLADD_REQ,ENQUEUED,10,14,10,5,,,2,1,0,1
2,"2017-08-23 16:37:07,036",4543,0009,0001,0009,0001,CELLADD_REQ,ENQUEUED,10,10,,,,,3,1,0,1
3,"2017-08-23 16:37:07,040",4543,0005,0001,0005,0001,CELLADD_REQ,ENQUEUED,6,4,5,8,9,10,4,1,0,1
4,"2017-08-23 16:37:07,045",4543,000f,0001,000f,0001,CELLADD_REQ,ENQUEUED,4,0,6,9,,,5,1,0,1
5,"2017-08-23 16:37:07,190",4554,0005,0001,0005,0001,CELLADD_REQ,TXED,,,,,,,,,1,2
6,"2017-08-23 16:37:07,184",4554,000c,0001,000c,0001,CELLADD_REQ,TXED,,,,,,,,,1,2
7,"2017-08-23 16:37:07,187",4554,0009,0001,0009,0001,CELLADD_REQ,TXED,,,,,,,,,1,2
8,"2017-08-23 16:37:07,173",4554,000a,0001,000a,0001,CELLADD_REQ,TXED,,,,,,,,,1,2
9,"2017-08-23 16:37:07,170",4554,000f,0001,000f,0001,CELLADD_REQ,TXED,,,,,,,5,1,1,2
10,"2017-08-23 16:37:07,180",4554,000f,0001,0001,000f,CELLADD_REQ,RCVD,,,,,,,5,1,0,3
11,"2017-08-23 16:37:07,181",4554,000f,0001,0001,000f,CELLADD_REP,ENQUEUED,6,9,,,,,5,1,0,4
12,"2017-08-23 16:37:07,317",4565,0005,0001,0005,0001,CELLADD_REQ,TXED,,,,,,,,,2,2
13,"2017-08-23 16:37:07,309",4565,000c,0001,000c,0001,CELLADD_REQ,TXED,,,,,,,,,2,2
14,"2017-08-23 16:37:07,313",4565,0009,0001,0009,0001,CELLADD_REQ,TXED,,,,,,,,,2,2
15,"2017-08-23 16:37:07,305",4565,000f,0001,0001,000f,CELLADD_REP,TXED,,,,,,,,,1,5
16,"2017-08-23 16:37:07,424",4576,000a,0001,0001,000a,CELLADD_REQ,RCVD,,,,,,,2,1,0,3
17,"2017-08-23 16:37:07,426",4576,000a,0001,0001,000a,CELLADD_REP,ENQUEUED,10,5,,,,,2,1,0,4
18,"2017-08-23 16:37:07,435",4576,000a,0001,000a,0001,CELLADD_REQ,TXED,,,,,,,2,1,2,2
19,"2017-08-23 16:37:07,678",4598,000f,0001,0001,000f,CELLADD_REP,TXED,6,9,,,,,5,1,2,5
20,"2017-08-23 16:37:07,669",4598,000f,0001,000f,0001,CELLADD_REP,RCVD,6,9,,,,,5,1,0,6
21,"2017-08-23 16:37:07,795",4609,000c,0001,000c,0001,CELLADD_REQ,TXED,,,,,,,,,3,2
22,"2017-08-23 16:37:07,798",4609,0009,0001,0009,0001,CELLADD_REQ,TXED,,,,,,,,,3,2
23,"2017-08-23 16:37:07,791",4609,000a,0001,0001,000a,CELLADD_REP,TXED,,,,,,,,,1,5
24,"2017-08-23 16:37:07,899",4620,000a,0001,0001,000a,CELLADD_REP,TXED,10,5,,,,,2,1,2,5
25,"2017-08-23 16:37:07,916",4620,000a,0001,000a,0001,CELLADD_REP,RCVD,10,5,,,,,2,1,0,6
26,"2017-08-23 16:37:08,128",4642,0005,0001,0005,0001,CELLADD_REQ,TXED,,,,,,,4,1,3,2
27,"2017-08-23 16:37:08,116",4642,0005,0001,0001,0005,CELLADD_REQ,RCVD,,,,,,,4,1,0,3
28,"2017-08-23 16:37:08,118",4642,0005,0001,0001,0005,CELLADD_REP,ENQUEUED,9,10,,,,,4,1,0,4
29,"2017-08-23 16:37:08,249",4653,0005,0001,0001,0005,CELLADD_REP,TXED,9,10,,,,,4,1,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,"2017-08-23 16:37:40,369",6732,0006,0009,0009,0006,CELLADD_REP,TXED,10,2,,,,,48,1,2,5
259,"2017-08-23 16:37:40,565",6742,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,49,1,0,3
260,"2017-08-23 16:37:40,567",6743,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,,,1,5
261,"2017-08-23 16:37:40,818",6753,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,49,1,0,3
262,"2017-08-23 16:37:40,759",6753,0006,0009,0006,0009,CELLADD_REQ,TXED,10,2,,,,,49,1,1,2
263,"2017-08-23 16:37:41,354",6776,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,49,1,2,5
264,"2017-08-23 16:37:41,343",6776,0006,0009,0006,0009,CELLADD_REQ,ENQUEUED,6,5,8,10,,,50,1,0,1
265,"2017-08-23 16:37:41,609",6786,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,50,1,0,3
266,"2017-08-23 16:37:41,590",6786,0006,0009,0006,0009,CELLADD_REQ,TXED,10,2,,,,,50,1,1,2
267,"2017-08-23 16:37:41,611",6787,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,,,1,5
268,"2017-08-23 16:37:41,979",6809,0006,0009,0006,0009,CELLADD_REQ,ENQUEUED,4,11,,,,,51,1,0,1
269,"2017-08-23 16:37:41,996",6809,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,50,1,2,5
270,"2017-08-23 16:37:42,263",6819,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,51,1,0,3
271,"2017-08-23 16:37:42,269",6820,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5
272,"2017-08-23 16:37:42,490",6830,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,51,1,0,3
273,"2017-08-23 16:37:42,497",6831,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5
274,"2017-08-23 16:37:42,715",6841,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,51,1,0,3
275,"2017-08-23 16:37:42,720",6842,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5
276,"2017-08-23 16:37:42,965",6852,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,51,1,0,3
277,"2017-08-23 16:37:42,937",6852,0006,0009,0006,0009,CELLADD_REQ,TXED,10,2,,,,,51,1,1,2
278,"2017-08-23 16:37:42,976",6853,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5
279,"2017-08-23 16:37:43,193",6864,0006,0009,0006,0009,CELLADD_REQ,ENQUEUED,5,0,5,11,,,52,0,0,1
280,"2017-08-23 16:37:43,209",6864,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5
281,"2017-08-23 16:37:43,555",6874,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,51,1,0,3
282,"2017-08-23 16:37:43,564",6875,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5
283,"2017-08-23 16:37:43,822",6885,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,51,1,0,3
284,"2017-08-23 16:37:43,827",6886,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5
285,"2017-08-23 16:37:44,043",6896,0006,0009,0006,0009,CELLADD_REQ,TXED,10,2,,,,,51,1,1,2
286,"2017-08-23 16:37:44,065",6896,0006,0009,0009,0006,CELLADD_REQ,RCVD,,,,,,,51,1,0,3
287,"2017-08-23 16:37:44,073",6897,0006,0009,0009,0006,CELLADD_REP,TXED,,,,,,,51,1,1,5

In [25]:
#BONNE CONNECTION
df_res_g = pd.read_csv(r'data_csv/sim_1_pkt_res.csv', dtype=str)
df_res_g["asn"] = df_res_g["asn"].astype(int)
#df_res["id_res"] = df_res["id_res"].astype(int)
#df_res["succes"] = df_res["succes"].astype(int)
df_res_g["state"] = df_res_g["state"].astype(int)
df_res_g = df_res_g.fillna('')
#df_res.sort_values(['asn', 'command', 'status'], ascending=[True, False, False], inplace=True)
df_res_g = df_res_g.reset_index(drop=True)
df_res_g

,time,asn,src_res,dest_res,src_pkt,dest_pkt,command,status,ch1,slot1,ch2,slot2,ch3,slot3,id_res,succes,numAtt,state
0,"2017-07-20 15:20:33,666",1331,0002,0001,0002,0001,CELLADD_REQ,ENQUEUED,7,10,7,14,7,8,1,1,0,1
1,"2017-07-20 15:20:33,672",1331,000d,0001,000d,0001,CELLADD_REQ,ENQUEUED,8,3,8,8,,,2,0,0,1
2,"2017-07-20 15:20:33,675",1331,000c,0001,000c,0001,CELLADD_REQ,ENQUEUED,5,14,10,7,9,0,3,1,0,1
3,"2017-07-20 15:20:33,678",1331,000b,0001,000b,0001,CELLADD_REQ,ENQUEUED,4,12,10,9,,,4,0,0,1
4,"2017-07-20 15:20:33,747",1342,0002,0001,0001,0002,CELLADD_REP,ENQUEUED,7,8,,,,,1,1,0,4
5,"2017-07-20 15:20:33,742",1342,000c,0001,000c,0001,CELLADD_REQ,TXED,,,,,,,,,1,2
6,"2017-07-20 15:20:33,760",1342,0002,0001,0002,0001,CELLADD_REQ,TXED,,,,,,,1,1,1,2
7,"2017-07-20 15:20:33,746",1342,0002,0001,0001,0002,CELLADD_REQ,RCVD,,,,,,,1,1,0,3
8,"2017-07-20 15:20:33,848",1353,0002,0001,0001,0002,CELLADD_REP,TXED,7,8,,,,,1,1,1,5
9,"2017-07-20 15:20:33,842",1353,0002,0001,0002,0001,CELLADD_REP,RCVD,7,8,,,,,1,1,0,6
10,"2017-07-20 15:20:33,929",1364,000c,0001,000c,0001,CELLADD_REQ,TXED,,,,,,,3,1,2,2
11,"2017-07-20 15:20:33,922",1364,000c,0001,0001,000c,CELLADD_REQ,RCVD,,,,,,,3,1,0,3
12,"2017-07-20 15:20:33,923",1364,000c,0001,0001,000c,CELLADD_REP,ENQUEUED,9,0,,,,,3,1,0,4
13,"2017-07-20 15:20:33,997",1375,000c,0001,0001,000c,CELLADD_REP,TXED,9,0,,,,,3,1,1,5
14,"2017-07-20 15:20:33,991",1375,000c,0001,000c,0001,CELLADD_REP,RCVD,9,0,,,,,3,1,0,6
15,"2017-07-20 15:20:34,073",1386,000c,0001,0001,000c,CELLADD_REQ,FAILED,,,,,,,3,1,0,7
16,"2017-07-20 15:20:34,074",1386,000d,0001,000d,0001,CELLADD_REQ,ENQUEUED,5,9,9,7,9,3,5,1,0,1
17,"2017-07-20 15:20:34,273",1419,000d,0001,000d,0001,CELLADD_REQ,TXED,,,,,,,5,1,1,2
18,"2017-07-20 15:20:34,263",1419,000d,0001,0001,000d,CELLADD_REQ,RCVD,,,,,,,5,1,0,3
19,"2017-07-20 15:20:34,264",1419,000d,0001,0001,000d,CELLADD_REP,ENQUEUED,5,9,,,,,5,1,0,4
20,"2017-07-20 15:20:34,338",1430,000d,0001,0001,000d,CELLADD_REP,TXED,,,,,,,,,1,5
21,"2017-07-20 15:20:34,393",1441,000d,0001,000d,0001,CELLADD_REP,RCVD,5,9,,,,,5,1,0,6
22,"2017-07-20 15:20:34,399",1441,000d,0001,0001,000d,CELLADD_REP,TXED,5,9,,,,,5,1,2,5
23,"2017-07-20 15:20:34,740",1507,000d,0001,0001,000d,CELLADD_REQ,FAILED,,,,,,,2,0,0,7
24,"2017-07-20 15:20:34,742",1507,000b,0001,000b,0001,CELLADD_REQ,ENQUEUED,6,13,9,0,4,6,6,1,0,1
25,"2017-07-20 15:20:34,812",1518,000b,0001,000b,0001,CELLADD_REQ,TXED,,,,,,,6,1,1,2
26,"2017-07-20 15:20:34,819",1518,000b,0001,0001,000b,CELLADD_REQ,RCVD,,,,,,,6,1,0,3
27,"2017-07-20 15:20:34,820",1518,000b,0001,0001,000b,CELLADD_REP,ENQUEUED,4,6,,,,,6,1,0,4
28,"2017-07-20 15:20:34,884",1529,000b,0001,0001,000b,CELLADD_REP,TXED,,,,,,,,,1,5
29,"2017-07-20 15:20:35,042",1562,000b,0001,000b,0001,CELLADD_REP,RCVD,4,6,,,,,6,1,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,"2017-07-20 15:22:26,331",14608,000a,000e,000e,000a,CELLADD_REQ,RCVD,,,,,,,114,1,0,3
496,"2017-07-20 15:22:26,312",14608,000a,000e,000a,000e,CELLADD_REQ,TXED,,,,,,,,,3,2
497,"2017-07-20 15:22:26,332",14608,000a,000e,000e,000a,CELLADD_REP,ENQUEUED,,,,,,,114,1,0,4
498,"2017-07-20 15:22:26,705",14652,000a,000e,000e,000a,CELLADD_REP,FAILED,6,8,,,,,114,1,0,8
499,"2017-07-20 15:22:27,767",14762,000a,000e,000e,000a,CELLADD_REP,ENQUEUED,,,,,,,114,1,0,4
500,"2017-07-20 15:22:27,766",14762,000a,000e,000e,000a,CELLADD_REQ,RCVD,,,,,,,114,1,0,3
501,"2017-07-20 15:22:27,747",14762,000a,000e,000a,000e,CELLADD_REQ,TXED,,,,,,,114,1,4,2
502,"2017-07-20 15:22:27,869",14773,000a,000e,000e,000a,CELLADD_REP,FAILED,,,,,,,114,1,0,8
503,"2017-07-20 15:22:28,180",14806,000a,000e,000e,000a,CELLADD_REP,TXED,,,,,,,,,1,5
504,"2017-07-20 15:22:28,512",14839,000a,000e,000e,000a,CELLADD_REP,TXED,,,,,,,,,2,5
505,"2017-07-20 15:22:29,258",14916,000a,000e,000e,000a,CELLADD_REP,ENQUEUED,6,5,,,,,114,1,0,4
506,"2017-07-20 15:22:29,257",14916,000a,000e,000e,000a,CELLADD_REQ,RCVD,,,,,,,114,1,0,3
507,"2017-07-20 15:22:29,334",14927,000a,0003,000a,0003,CELLADD_REQ,ENQUEUED,9,5,4,3,9,5,115,0,0,1
508,"2017-07-20 15:22:29,868",14982,000a,000e,000e,000a,CELLADD_REP,TXED,,,,,,,,,3,5
509,"2017-07-20 15:22:29,982",14993,000a,000e,000e,000a,CELLADD_REP,TXED,,,,,,,114,1,4,5
510,"2017-07-20 15:22:29,942",14993,000a,0003,000a,0003,CELLADD_REQ,ENQUEUED,4,13,8,15,,,116,0,0,1
511,"2017-07-20 15:22:30,070",15004,000a,0003,000a,0003,CELLADD_REQ,ENQUEUED,9,12,,,,,117,0,0,1
512,"2017-07-20 15:22:30,638",15059,000a,0003,000a,0003,CELLADD_REP,FAILED,6,5,,,,,116,0,0,8
513,"2017-07-20 15:22:33,122",15334,000a,0003,000a,0003,CELLADD_REQ,ENQUEUED,7,5,7,2,9,8,118,0,0,1
514,"2017-07-20 15:22:33,121",15334,000a,0003,0003,000a,CELLADD_REQ,FAILED,,,,,,,117,0,0,7
515,"2017-07-20 15:22:33,107",15334,000a,0003,0003,000a,CELLADD_REQ,RCVD,,,,,,,117,0,0,3
516,"2017-07-20 15:22:33,108",15334,000a,0003,0003,000a,CELLADD_REP,ENQUEUED,9,5,,,,,117,0,0,4
517,"2017-07-20 15:22:34,965",15532,000a,0003,0003,000a,CELLADD_REP,ENQUEUED,9,8,,,,,118,0,0,4
518,"2017-07-20 15:22:34,942",15532,000a,0003,000a,0003,CELLADD_REQ,ENQUEUED,7,5,6,15,,,119,0,0,1
519,"2017-07-20 15:22:34,941",15532,000a,0003,000a,0003,CELLADD_REQ,FAILED,,,,,,,118,0,0,7
520,"2017-07-20 15:22:34,964",15532,000a,0003,0003,000a,CELLADD_REQ,RCVD,,,,,,,118,0,0,3
521,"2017-07-20 15:22:35,074",15543,000a,0003,0003,000a,CELLADD_REP,FAILED,9,5,,,,,119,0,0,8
522,"2017-07-20 15:22:37,323",15796,000a,0003,000a,0003,CELLADD_REQ,ENQUEUED,6,10,,,,,120,0,0,1
523,"2017-07-20 15:22:37,322",15796,000a,0003,0003,000a,CELLADD_REQ,FAILED,,,,,,,119,0,0,7
524,"2017-07-20 15:22:37,512",15818,000a,0003,000a,0003,CELLADD_REP,FAILED,9,8,,,,,120,0,0,8

In [28]:
l = df_res_g["src_res"].unique().tolist()
l

['0002',
 '000d',
 '000c',
 '000b',
 '000e',
 '0006',
 '0007',
 '0003',
 '0005',
 '0008',
 '000a',
 '000f',
 '0004']

In [39]:
l = df_res_g.groupby(["src_res", "dest_res"])[].unique()
print l

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

# Création du jeu de donnée

In [9]:
alph = IntegerRange(1,9)
print alph

<Alphabet:[1, 2, 3, 4, 5, 6, 7, 8]>

In [7]:
#sépare les succes et les echecs
df_succes = df_res_g.copy()
df_fail = df_res_b.copy()

In [8]:
#Creer les sets de données 
# chaque reservation entre 2 noeuds est transformé en une séquence de 2 à ~8 characteres
def create_data_set(df):
    #un set de reservation
    train_set = []
    #ensemble des sets
    train_sets=[]
    #concaténation de tous les set
    train_set_conc=[]
    set_tmp=[]
    p=0
    del train_sets[:]
    df_tmp = pd.DataFrame

    #alphabet
    alph = IntegerRange(1,6)

    for i in df["id_res"].unique():
        del train_set[:]
        df_tmp = df.loc[ df["id_res"] == i ]
        df_tmp = df_tmp.reset_index(drop=True)
        for j in range( len( df_tmp ) ):
            #if df_tmp.loc[j]["state"] != 0:
            train_set.append(df_tmp.loc[j]["state"])
        set_tmp=train_set[:]
        train_set_conc = train_set_conc + train_set
        #train_set_emmission = EmissionSequence(alph, train_set)
        train_sets.append(set_tmp)
   
    return train_sets, train_set_conc

In [ ]:
#Creer les sets de données 
# chaque couple de noeud
def create_data_set(df)
    #un set de reservation
    train_set = []
    #ensemble des sets
    train_sets=[]
    #concaténation de tous les set
    train_set_conc=[]
    set_tmp=[]
    p=0
    del train_sets[:]
    df_tmp = pd.DataFrame

    #alphabet
    alph = IntegerRange(1,6)

    for i in df["id_res"].unique():
        del train_set[:]
        df_tmp = df.loc[ df["id_res"] == i ]
        df_tmp = df_tmp.reset_index(drop=True)
        for j in range( len( df_tmp ) ):
            #if df_tmp.loc[j]["state"] != 0:
            train_set.append(df_tmp.loc[j]["state"])
        set_tmp=train_set[:]
        train_set_conc = train_set_conc + train_set
        #train_set_emmission = EmissionSequence(alph, train_set)
        train_sets.append(set_tmp)
   
    return train_sets, train_set_conc

In [102]:
train_sets_s, train_set_conc_s = create_data_set(df_succes)
train_sets_f, train_set_conc_f = create_data_set(df_fail)

In [94]:
train_set_conc_s_em = EmissionSequence(alph, train_set_conc_s)
print train_set_conc_s_em

12234...35234

In [95]:
print train_sets_f

[[1, 5], [1], [1], [1], [1, 2, 5, 5, 5], [1, 2, 5], [1, 2, 5], [1, 2, 5], [1, 2], [1, 5], [1], [1, 5], [1], [1], [1, 5], [1], [1, 5, 2], [1], [1], [1], [1, 5], [1, 5], [1, 2], [1, 2, 5], [1, 5], [1, 2, 5], [1, 5], [1], [1, 5], [1], [1, 5], [1, 5], [1, 2, 3, 2, 3, 2, 3, 5], [1, 5], [1, 2, 5, 3], [1, 2, 3, 5, 5], [1, 5, 5], [1], [1, 5, 2, 3, 5], [1, 5, 2, 3, 5], [1, 5], [1, 5, 2, 5, 3], [1, 5], [1, 5], [1, 5, 5], [1, 5], [1, 2, 5, 5, 5], [1, 2, 5], [1, 5, 5], [1, 5], [1, 5], [1, 5, 5], [1, 5], [1, 5, 2, 3], [1, 5], [1, 5, 2, 3, 2, 3, 5, 5], [1, 5], [1, 5], [1, 5, 2, 3, 2, 3, 5], [1, 5], [1, 5, 2, 2], [1, 5, 2, 3, 2, 3, 2, 3, 5], [1, 2, 3, 5], [1, 5], [1, 5, 5, 5, 5], [1, 2, 3, 5, 5], [1, 5], [1, 2, 2, 3], [1, 5, 2, 3, 5, 5], [1, 5], [1], [1, 5], [1, 2, 5, 3], [1, 2, 5, 3], [1, 5, 5], [1, 5]]

In [98]:
#create train set and test set
X_s = np.asarray(train_sets_s)
y_s = y=np.array([1]*len(train_sets_s))
X_train_s, X_test_s, y_train_s, y_test_s = train_test_split(X_s, y_s, test_size=0.33, random_state=42, shuffle=False)
X_train_s, X_test_s, y_train_s, y_test_s=X_train_s.tolist(), X_test_s.tolist(), y_train_s.tolist(), y_test_s.tolist()
X_f = np.asarray(train_sets_f)
y_f = y=np.array([0]*len(train_sets_f))
X_train_f, X_test_f, y_train_f, y_test_f = train_test_split(X_f, y_f, test_size=0.33, random_state=42, shuffle=False)
X_train_f, X_test_f, y_train_f, y_test_f=X_train_f.tolist(), X_test_f.tolist(), y_train_f.tolist(), y_test_f.tolist()

In [117]:
test_sets = [X_test_s+X_test_f,y_test_s+y_test_f]
test_sets

[[[1, 4],
  [1, 4],
  [1, 2, 4],
  [1, 4],
  [1, 4],
  [1, 4],
  [1, 4],
  [1, 5, 2, 4],
  [1, 4],
  [1, 4],
  [1, 4],
  [1, 5, 2, 3, 5, 4],
  [1, 5, 4],
  [1, 2, 2, 3, 4],
  [1, 2, 3, 5, 2, 3, 5, 2, 2, 3, 5, 2, 3, 4],
  [1, 5],
  [1, 5, 5],
  [1, 5],
  [1, 5, 2, 3],
  [1, 5],
  [1, 5, 2, 3, 2, 3, 5, 5],
  [1, 5],
  [1, 5],
  [1, 5, 2, 3, 2, 3, 5],
  [1, 5],
  [1, 5, 2, 2],
  [1, 5, 2, 3, 2, 3, 2, 3, 5],
  [1, 2, 3, 5],
  [1, 5],
  [1, 5, 5, 5, 5],
  [1, 2, 3, 5, 5],
  [1, 5],
  [1, 2, 2, 3],
  [1, 5, 2, 3, 5, 5],
  [1, 5],
  [1],
  [1, 5],
  [1, 2, 5, 3],
  [1, 2, 5, 3],
  [1, 5, 5],
  [1, 5]],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0]]

In [47]:
#transforme la liste en sequence d'emission
seq_train_s = SequenceSet(alph, X_train_s)
seq_train_f = SequenceSet(alph, X_train_f)

seq_test_s = SequenceSet(alph, X_test_s)
seq_test_f = SequenceSet(alph, X_test_f)

# TEST DE LA BIBLIOTHEQUE GHMM

# test avec les données reservation | experimentation

In [49]:
df_res[['asn creation', 'asn_req','asn_rep', 'asn_tx','MState']].loc[df_res["MState"]!=0]

    asn creation asn_req asn_rep  asn_tx MState
1           1221    1299    1583              1
2           1221    1299    1583    1258      1
3           1221    1299    1583    1299      2
4           1221    1299    1583    1542      2
5           1221    1299    1583    1583      3
7           1221    1339    1562              1
8           1221    1339    1562    1258      1
9           1221    1339    1562    1339      2
10          1221    1339    1562    1562      3
12          1221    2407                      1
13          1221    2407            1282      1
14          1221    2407            1461      1
15          1221    2407            1867      1
16          1221    2407            2407      4
18          1627    1664    1705              1
19          1627    1664    1705    1664      2
20          1627    1664    1705    1705      3
22          1830    1867    2233              1
23          1830    1867    2233    1867      2
24          1830    1867    2233    2111      2
25          1830    1867    2233    2151      2
26          1830    1867    2233    2233      3
28          2236    2577    2780              1
29          2236    2577    2780    2577      2
30          2236    2577    2780    2780      3
32          2439    4116                      1
33          2439    4116            2576      1
34          2439    4116            3100      1
35          2439    4116            3794      1
37          2845    5002                      1
..           ...     ...     ...     ...    ...
418       389357  391282  393719              1
419       389357  391282  393719  390673      1
420       389357  391282  393719  391282      2
421       389357  391282  393719  393109      2
422       389357  391282  393719  393312      2
424       392605  392702  394328              1
425       392605  392702  394328  392702      2
426       392605  392702  394328  393109      2
427       392605  392702  394328  393312      2
429       392816  394846                      1
430       392816  394846          393109      1
431       392816  394846          393312      1
433       394838  394880  395083              1
434       394838  394880  395083  394880      2
435       394838  394880  395083  395059      2
436       394838  394880  395083  395083      3
438       395049  396662                      1
439       395049  396662          396154      1
441       395244  395286  395692              1
442       395244  395286  395692  395286      2
443       395244  395286  395692  395465      2
444       395244  395286  395692  395692      3
446       395853  395895  396098              1
447       395853  395895  396098  395895      2
448       395853  395895  396098  396074      2
449       395853  395895  396098  396098      3
451       396259  396504  396910              1
452       396259  396504  396910  396504      2
453       396259  396504  396910  396683      2
454       396259  396504  396910  396910      3

[358 rows x 5 columns]

In [172]:
#sigma = alphabet de la machine. ici [1;4] pour les 4 etats possibles des données
sigma = IntegerRange(1,5)
#A matrice proba transition etats | ici on a 4 etats
A = [[0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1], 
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1],
     [0.10, 0.1, 0.1, 0.1, 0.10, 0.1, 0.1, 0.1, 0.10, 0.1]]

#proba d'un event depuis l'etat 1:
e1 = [1.0/4, 1.0/4, 1.0/4, 1.0/4]

#proba d'un event depuis l'etat 2:
e2 = [1.0/4, 1.0/4, 1.0/4, 1.0/4]

#etat d'initialisation
e3 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

e4 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

e5 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

e6 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

e7 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

e8 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

e9 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

e10 =  [1.0/4, 1.0/4, 1.0/4, 1.0/4]

#matrice de proba des evenements
B = [e1, e2, e3, e4, e5, e6, e7, e8, e9, e10]

#proba de l'etat initial
pi = [0.1, 0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]

m = HMMFromMatrices(sigma, DiscreteDistribution(sigma), A, B, pi)

print (m)

DiscreteEmissionHMM(N=10, M=4)
  state 0 (initial=0.10)
    Emissions: 0.25, 0.25, 0.25, 0.25
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)
  state 1 (initial=0.10)
    Emissions: 0.25, 0.25, 0.25, 0.25
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)

  ...

  state 8 (initial=0.10)
    Emissions: 0.25, 0.25, 0.25, 0.25
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)
  state 9 (initial=0.10)
    Emissions: 0.25, 0.25, 0.25, 0.25
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)

In [173]:
m.baumWelch(seq)

In [55]:
print(m)

DiscreteEmissionHMM(N=10, M=5)
  state 0 (initial=0.10)
    Emissions: 0.27, 0.23, 0.11, 0.17, 0.22
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)
  state 1 (initial=0.10)
    Emissions: 0.27, 0.23, 0.11, 0.17, 0.22
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)

  ...

  state 8 (initial=0.10)
    Emissions: 0.27, 0.23, 0.11, 0.17, 0.22
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)
  state 9 (initial=0.10)
    Emissions: 0.27, 0.23, 0.11, 0.17, 0.22
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.10), ->3 (0.10), ->4 (0.10), ->5 (0.10), ->6 (0.10), ->7 (0.10), ->8 (0.10), ->9 (0.10)

In [177]:
test_set = EmissionSequence(alph, [1, 1, 2, 4])

In [179]:
v = m.viterbi(test_set)
print v

([0, 0, 0, 0], -15.53275024187497)

In [152]:
m.logprob()

AttributeError: 'DiscreteEmissionHMM' object has no attribute 'logprob'

# test avec les données reservation | simulation

### Create Models

In [208]:
#sigma = alphabet de la machine. ici [1;5] pour les 5 etats possibles des données
sigma = IntegerRange(1,6)
#A matrice proba transition etats | ici on a 4 etats
A = [[0.7, 0.1, 0.2], 
     [0.1, 0.7, 0.2],
     [0.1, 0.1, 0.8]]

equi_prob = 1.0/5.0

e1 = [0.6, 0.1, 0.1, 0.1, 0.1]

e2 = [0.1, 0.6, 0.1, 0.1, 0.1]

e3 =  [0.1, 0.1, 0.6, 0.1, 0.1]

e4 =  [0.1, 0.1, 0.1, 0.6, 0.1]

e5 =  [equi_prob, equi_prob, equi_prob, equi_prob, equi_prob]

e6 =  [equi_prob, equi_prob, equi_prob, equi_prob, equi_prob]

e7 =  [equi_prob, equi_prob, equi_prob, equi_prob, equi_prob]

e8 =  [equi_prob, equi_prob, equi_prob, equi_prob, equi_prob]
e9 =  [equi_prob, equi_prob, equi_prob, equi_prob, equi_prob]

e10 =  [equi_prob, equi_prob, equi_prob, equi_prob, equi_prob]

#matrice de proba des evenements
B = [e1, e2, e3]

#proba de l'etat initial
pi = [1.0/4, 1.0/4, 2.0/4]

m_succes = HMMFromMatrices(sigma, DiscreteDistribution(sigma), A, B, pi)
m_fail = HMMFromMatrices(sigma, DiscreteDistribution(sigma), A, B, pi)

print (m_succes)

DiscreteEmissionHMM(N=3, M=5)
  state 0 (initial=0.25)
    Emissions: 0.60, 0.10, 0.10, 0.10, 0.10
    Transitions: ->0 (0.70), ->1 (0.10), ->2 (0.20)
  state 1 (initial=0.25)
    Emissions: 0.10, 0.60, 0.10, 0.10, 0.10
    Transitions: ->0 (0.10), ->1 (0.70), ->2 (0.20)
  state 2 (initial=0.50)
    Emissions: 0.10, 0.10, 0.60, 0.10, 0.10
    Transitions: ->0 (0.10), ->1 (0.10), ->2 (0.80)

### Train models

In [209]:
m_succes.baumWelch(seq_train_s)
m_fail.baumWelch(seq_train_f)

In [210]:
print(m_succes)
print(m_fail)

DiscreteEmissionHMM(N=3, M=5)
  state 0 (initial=1.00)
    Emissions: 1.00, 0.00, 0.00, 0.00, 0.00
    Transitions: ->0 (0.00), ->1 (0.99), ->2 (0.01)
  state 1 (initial=0.00)
    Emissions: 0.00, 0.88, 0.00, 0.10, 0.02
    Transitions: ->0 (0.00), ->1 (0.41), ->2 (0.59)
  state 2 (initial=0.00)
    Emissions: 0.00, 0.15, 0.20, 0.56, 0.08
    Transitions: ->0 (0.00), ->1 (0.00), ->2 (1.00)

DiscreteEmissionHMM(N=3, M=5)
  state 0 (initial=1.00)
    Emissions: 1.00, 0.00, 0.00, 0.00, 0.00
    Transitions: ->0 (0.00), ->1 (1.00), ->2 (0.00)
  state 1 (initial=0.00)
    Emissions: 0.00, 0.35, 0.00, 0.00, 0.65
    Transitions: ->0 (0.00), ->1 (0.25), ->2 (0.75)
  state 2 (initial=0.00)
    Emissions: 0.00, 0.14, 0.26, 0.00, 0.60
    Transitions: ->0 (0.00), ->1 (0.00), ->2 (1.00)

### Test models

In [215]:
#test_sets[0] -> X_test, [1] -> y_test
# on teste chaque seq sur les 2 modeles et on prend celui avec le plus petit likelihood
def calcul_score(seq_test_s, seq_test_f):
    vp=0.0
    vn=0.0
    fp=0.0
    fn=0.0
    for el in seq_test_s:
        v_s = m_succes.viterbi(el)
        v_f = m_fail.viterbi(el)
        if v_s[1] < v_f[1]:
            vp+=1
        else:
            fp+=1
        
    for el in seq_test_f:
        v_s = m_succes.viterbi(el)
        v_f = m_fail.viterbi(el)
        if v_s[1] > v_f[1]:
            vn+=1
        else:
            fn+=1
    precision = vp/(fp+vp)
    recall = vp/(fn+vp)
    fmeasure = 2*(precision*recall)/(precision+recall)
    
    return precision, recall, fmeasure, vp, vn, fp, fn

In [216]:
calcul_score(seq_test_s, seq_test_f)

GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 2
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 3
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 1
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 5
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 2
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 4
GHMM ghmm.py:148 - viterbi.c:ghmm_dmodel_viterbi(328): state_seq_index = -1, t = 13

(15.0, 1.0, 0.0, 25.0, 1.0, 0.375, 0.5454545454545454)

In [203]:
print seq_test_f

SequenceSet (N=26)
  seq 0(len=2)
    15
  seq 1(len=3)
    155

   ...

  seq 24(len=3)
    155
  seq 25(len=2)
    15

In [153]:
v = m_succes.viterbi(el)
print type(v[1])

<type 'float'>

In [67]:
test_set = EmissionSequence(alph, [1, 4])

In [207]:
v = m_fail.viterbi(seq_test_f[0])
print v

([0, 0], -4.55638002181866)