In [9]:
import mysql.connector 
import _mysql
import MySQLdb

In [10]:
# connection a la DB

#conn = mysql.connector.connect(host="localhost",user="root",password="root", database="test1")
#cursor = conn.cursor()
#con = _mysql.connect('localhost', 'root', 'root', 'test1')

db = MySQLdb.connect('localhost', 'root', 'root', 'test1')

# prepare a cursor object using cursor() method
cursor = db.cursor()

In [77]:
# pour _mysql
try:
    con.query("""
CREATE TABLE IF NOT EXISTS visiteurs (
    id int(5) NOT NULL AUTO_INCREMENT,
    name varchar(50) DEFAULT NULL,
    age INTEGER DEFAULT NULL,
    PRIMARY KEY(id)
);
    """)
    result = con.use_result()
    
    print result
    
except _mysql.Error, e:
  
    print "Error %d: %s" % (e.args[0], e.args[1])
    sys.exit(1)

Error 0:

NameError: name 'sys' is not defined

In [79]:
# execute SQL query using execute() method.
cursor.execute("""
CREATE TABLE IF NOT EXISTS visiteurs (
    id int(5) NOT NULL AUTO_INCREMENT,
    name varchar(50) DEFAULT NULL,
    age INTEGER DEFAULT NULL,
    PRIMARY KEY(id)
);
    """)

# Fetch a single row using fetchone() method.
data = cursor.fetchone()

print data

None

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:9: Warning: Table 'visiteurs' already exists

In [11]:
# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()

print "Database version : %s " % data

Database version : 5.7.17-0ubuntu0.16.04.2

In [17]:
user = ("olivier", "34")
code = "visiteurs"
sql = """INSERT INTO %s VALUES(%s, %s)""" %(code)
sql
cursor.execute(sql)

#user = {"name": "olivier", "age" : "34"}
#cursor.execute("""INSERT INTO visiteurs (name, age) VALUES(%(name)s, %(age)s)""", user)

OperationalError: (1136, "Column count doesn't match value count at row 1")

In [66]:
cursor.execute("""SELECT id, name, age FROM visiteurs WHERE id = %s""", ("5", ))
rows = cursor.fetchall()
for row in rows:
    print('{0} : {1} - {2}'.format(row[0], row[1], row[2]))

In [18]:
cursor.execute("""SELECT * FROM visiteurs""")
rows = cursor.fetchall()
print rows

((1L, 'paul', 55L),)

In [85]:
#conn.close()
#con.close()
db.commit()
db.close()

In [8]:
code = "nom_BDD"
sql = """test de %s _insertion""" %(code)
sql

'test de nom_BDD _insertion'